 <tm-posterone [showId]="336"></tm-posterone>
 
 <ul *ngFor="let showdata of cardData">
    <li>{{showdata.id}}</li>
    <li><a routerLink="{{showdata.url}}">Url</a></li>
    <li>{{showdata.name}}</li>
    <li>{{showdata.type}}</li>
    <li>{{showdata.language}}</li>
    <li>{{showdata.genres}}</li>
    <li>{{showdata.status}}</li>
    <li>{{showdata.runtime}}</li>
    <li>{{showdata.premiered}}</li>
    <li><a routerLink="{{showdata.officialSite}}">officialSite</a></li>
    <li>{{showdata.schedule.time}} {{showdata.schedule.days}}</li>
    <li>{{showdata.rating.average}}</li>
    <li>{{showdata.weight}}</li>
    <li>{{showdata.network.id}} {{showdata.network.name}}   </li>
     
    <li>webChannel {{showdata.webChannel}}</li>
    <li>{{showdata.externals.tvrage}} {{showdata.externals.thetvdb}} {{showdata.externals.imdb}}</li>
    <li [innerHTML]="showdata.summary">{{showdata.summary}}</li>
    <li >{{showdata.updated}}</li>
      
    </ul>